@page
@model _3312_Final_Project.Pages.JobFairs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CareerEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CareerEvent.CareerEventID" />
            <div class="form-group">
                
                <label asp-for="CareerEvent.EventName" class="control-label"></label>
                <input asp-for="CareerEvent.EventName" class="form-control" />
                <span asp-validation-for="CareerEvent.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="CareerEvent.EventDate" class="control-label"></label>
                <input asp-for="CareerEvent.EventDate" class="form-control" />
                <span asp-validation-for="CareerEvent.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="CareerEvent.EventLocation" class="control-label"></label>
                <input asp-for="CareerEvent.EventLocation" class="form-control" />
                <span asp-validation-for="CareerEvent.EventLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="CareerEvent.EventDescription" class="control-label"></label>
                <input asp-for="CareerEvent.EventDescription" class="form-control" />
                <span asp-validation-for="CareerEvent.EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
